{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:import/errors", "prettier"],
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-bitwise": [
      0
    ]
  },
  "env": {
    "node": true,
    "es6": true
  }
}
